<section class="header-about  pt-5">
     <div class="gradient">
     <div class="continer text-center position-relative pt-5">
          <div class="d-flex justify-content-center align-items-center">
               <div class="col-md-9 header-content">
                    <h2>Hi there,</h2>
                    <img src="../../assets/imeges/deadpool-06f2a06d7a418ec887300397b6861383bf1e3b72f604ddd5f75bce170e81dce9.png" alt="img">
                    <h3>Let's talk about Movie APP</h3>
                    <p>The Movie Database (Movie APP) is a community built movie and TV database. Every piece of data has been added by our amazing community dating back to 2008. TMDb's strong international focus and breadth of data is largely unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's precisely what makes us different.</p>
                    <h4 class="py-5">The Movie APP Advantage</h4>
                    <div class="wrapper row justify-content-center align-items-center m-auto ">
                         <div class="col-md-12 py-3 d-flex justify-content-center">
                              <div class="number">
                                   <span>1</span>
                              </div>
                              <div class="col-md-11 text-left">
                                   <p>Every year since 2008, the number of contributions to our database has increased. With over 400,000 developers and companies using our platform, TMDb has become a premiere source for metadata.</p>
                              </div>
                         </div>
                         <div class="col-md-12 py-3 d-flex justify-content-center">
                              <div class="number">
                                   <span>2</span>
                              </div>
                              <div class="col-md-11 text-left">
                                   <p>Along with extensive metadata for movies, TV shows and people, we also offer one of the best selections of high resolution posters and fanart. On average, over 1,000 images are added every single day.</p>
                              </div>
                         </div>
                         <div class="col-md-12 py-3 d-flex justify-content-center">
                              <div class="number">
                                   <span>3</span>
                              </div>
                              <div class="col-md-11 text-left">
                                   <p>We're international. While we officially support 39 languages we also have extensive regional data. Every single day TMDb is used in over 180 countries.</p>
                              </div>
                         </div>
                         <div class="col-md-12 py-3 d-flex justify-content-center">
                              <div class="number">
                                   <span>4</span>
                              </div>
                              <div class="col-md-11 text-left">
                                   <p>Our community is second to none. Between our staff and community moderators, we're always here to help. We're passionate about making sure your experience on TMDb is nothing short of amazing.</p>
                              </div>
                         </div>
                         <div class="col-md-12 py-3 d-flex justify-content-center">
                              <div class="number">
                                   <span>5</span>
                              </div>
                              <div class="col-md-11 text-left">
                                   <p>Trusted platform. Every single day our service is used by millions of people while we process over 3 billion requests. We've proven for years that this is a service that can be trusted and relied on.</p>
                              </div>
                         </div>
                         <button class=" my-4 p-2 btn">Contact MovieApp</button>
                    </div>
               </div>
          </div>
     </div>
</div>
</section>