#eye{
     position: relative;
     bottom:37px;
     left: 93%;
     border: none;
     background-color: transparent;
     cursor: pointer;
}
@media screen and (max-width:991px) {
     #eye{
          left: 90%;
     }
}
@media screen and (max-width:767px) {
     #eye{
          left: 88%;
     }
}