#eye{
     position: absolute;
     top: 55%;
     left: 95%;
     border: none;
     background-color: transparent;
     cursor: pointer;
}
@media screen and (max-width:991px) {
     #eye{
          left: 90%;
     }
}
@media screen and (max-width:767px) {
     #eye{
          left: 88%;
     }
}