section{
     background-image: url(../../assets/imeges/1381176003000-LEAD-GRAVITY-MOV-JY-8917-58840101.jpg);
     height: 100vh;
     background-position:center bottom;
     background-size: cover;
     overflow: hidden;
}