<div class="main ">
     <div class="d-flex layer justify-content-center align-items-center text-center pt-5">
          <div class="col-md-7">
               <h1><span class="title text-info">NOXE</span> Unlimited movies, TV shows, and more.</h1>
               <h3>Watch anywhere. Cancel anytime.</h3>
               <h5>Ready to watch? Enter your email to create <a class="nav-link text-info" routerLink="registration">Registr</a>
                    or restart your membership.<a class="nav-link text-info d-inline" routerLink="login">Login</a>
               </h5>
          </div>
     </div>
     
</div>
