<div class="container pt-4">
     <div class="row pt-5">
          <div class="col-md-5">
               <img class="w-100" [src]="imgPrefix + movieDetails.poster_path" [alt]="movieDetails.title">
          </div>
          <div class="col-md-7">
               <h1 class="h3">{{movieDetails.title}}</h1>
               <p class="pb-2 text-muted">{{movieDetails.original_title}}</p>
               <span class="btn btn-info mx-2 p-1" *ngFor="let name of movieDetails.genres">{{name.name}}</span>
               <h3 class="h6 py-3">Vote : {{movieDetails.vote_average}}</h3>
               <h3 class="h6 py-3">Vote Count : {{movieDetails.vote_count}}</h3>
               <h3 class="h6 py-3">Popularity : {{movieDetails.popularity}}</h3>
               <h3 class="h6 py-3">Release Data : {{movieDetails.release_date}}</h3>
               <p class="h5 text-muted">{{movieDetails.overview}}</p>

          </div>
     </div>
</div>